.closeFriendProfilePicture {
    border-radius: 50%;
    height: 32px;
    margin-right: 10px;
    object-fit: cover;
    width:  32px;
}

.closeFriendContainerProfilePicture {
    align-items: center;
    display: flex;
    font-weight: 500;
    margin: 10px;
}